:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --accent-color: #fca311;
    --foreground-color: #e5e5e5;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

/* ================= HEADER ================= */
.header {
    position: relative;
    background: var(--accent-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.logo {
    color: #000;
    font-family: Inter;
    font-style: bold;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 15%;
}

.logo .lab {
    font-size: 2rem;
}

.logo .msu {
    font-size: 1rem;
}

.title {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem;
}

/* ================= MENUBAR ================= */
.menubar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--foreground-color);
    font-family: Inter, sans-serif;
}
.menubar > select {
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.25rem;
    text-align: center;
    border: 2px solid;
    background-color: var(--foreground-color);
}

.about-link {
    display: flex;
    font-weight: 600;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 2px solid black;
}

/* =========================================== */
body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button:hover {
    background-color: #cc8719;
}
#map,
#timeseries,
#contour {
    width: 100%;
    margin: 20px 0;
}

.instructions {
    font-family: Inter, sans-serif;
    color: black;
    text-align: left;
    margin-bottom: 20px;
    padding: 2em;
    font-size: 1.25rem;
    border-radius: 8px;
}
.instructions h2 {
    font-size: 2rem;
}

#timeseries-heading {
    display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #fff;
    transition: all ease-in-out 0.2s;
}
